<form id="form2" class="loginForm" method="post">
    <table border="0">
    <tr>
        <td><label for="email">E-mail Address</label></td>
        <td><input type="email" name="email" id="email" required /></td>
    </tr>
    <tr>
        <td><label for="password">Password</label></td>
        <td><input type="password" name="password" id="password" required /></td>
    </tr>
    <tr>
        <td></td>
        <td align="center"><input name="button" type="submit" disabled="disabled" id="login" value="Login" /></td>
    </tr>
    </table>
</form>
<form id="form3" class="registerOrLoginForm" method="post">
    <a id="btnLogin" class="btn login">Log in</a>
    <a id="btnRegister" class="btn register" href="/register">Register</a>

</form>